html{
    background-image:url("https://github.com/CarlWheezerOfficial/BackgroundImages/blob/main/New%20Piskel%20(4).png?raw=true");
    text-align: center;
}
.header{
    width:60%;
    height:auto;
    margin:auto;
    padding:5px;
    border-width:20px;
    border-style:solid;
    background-color:#d3c37e;
    border-image:url("src/Paper.png") 20 round;
}
.main{
    width:70%;
    height:auto;
    margin:auto;
    padding:3px;
    border-width:20px;
    border-style:solid;
    background-color:#d3c37e;
    border-image:url("src/Paper.png") 20 round;
}
button{
    border-image:url("src/Border.png") 4 stretch;
    border-width:3px;
    background-color:cadetblue;
    color:aliceblue;
}
h3{
    color:red;
}